@import '~@styles/variable.scss';


:local .container{
    position: absolute;
    bottom: 0;
    height: 520px;
    width: 100vw;
    font-size: 50px;
    color: white;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;

    .cod__header{
        height: 150px;
        background-color: $green;
        display: flex;
        align-items: center;
        overflow: hidden;

        &__bag{
            width: 120px;

            &__count{
                display: block;
                position: absolute;
                transform: translate(40px, -5px);
                z-index: 2;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                text-align: center;
                font-size: 35px;
                line-height: 40px;
                color: $green;
                background-color: white;
            }

            &__image{
                height: 80px;
                transform: translateY(5px);
            }
        }

        &__title{
            flex: 1 1 0;
        }

        &__price{
            width: 100px;
        }
    }

    .cod__body{
        display: flex;
        height: 100%;
        overflow: hidden;

        &__left,
        &__right{
            flex: 1 1 0;
            padding: 20px;
        }

        &__left{
            // border: 1px solid green;
        }

        &__right{
            // border: 1px solid blue;
        }


        &__row{
            display: flex;
            font-size: 40px;

            &__items{
                flex: 1 1 0;

                &:nth-child(2){
                    text-align: center;
                }

                &:nth-child(3){
                    text-align: right;
                }
            }
        }
    }
}