:local .container{
    position: absolute;
    bottom: 0;
    height: 520px;
    width: 100vw;
    font-size: 50px;
    color: white;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;

    .cod__header{
        height: 150px;
        background-color: green;
    }

    .cod__body{
        &__row{
            display: flex;
            font-size: 40px;

            &__items{
                flex: 1 1 0;

                &:nth-child(2){
                    text-align: center;
                }

                &:nth-child(3){
                    text-align: right;
                }
            }
        }
    }
}